<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watchme.system.user.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.watchme.system.user.entity.TbUser">
		<id column="ID" property="id"/>
		<result column="USER_CODE" property="userCode"/>
		<result column="USER_NAME" property="userName"/>
		<result column="PASSWORD" property="passWord"/>
		<result column="MOBILE" property="mobile"/>
		<result column="EMAIL" property="email"/>
		<result column="CREATOR" property="creator"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATOR" property="updator"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>

	<select id="selectUsersByMap" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT t.ID as "userId",
		t.USER_CODE as "userCode",
		t.USER_NAME as "userName",
		t.PASSWORD as "passWord",
		t.MOBILE as "mobile",
		t.EMAIL as "email"
		from TB_USER t
		WHERE 1=1
		<if test=" null != userName and '' != userName">
			and t.USER_NAME like CONCAT(CONCAT('%',#{userName}),'%')

		</if>
		<if test=" null != userCode and '' != userCode">
			and t.USER_CODE = #{userCode}
		</if>
	</select>
</mapper>